<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sensor Data List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2 class="mt-4">Sensor Data List</h2>

    <form th:action="@{/sensor-data/search}" method="get">
        <div>
            <label for="fieldID">Field ID:</label>
            <input type="number" id="fieldID" name="fieldID" required>
        </div>
        <div>
            <label for="dataType">Sensor Data Type:</label>
            <input type="text" id="dataType" name="dataType" required>
        </div>
        <button type="submit">Search</button>
    </form>

    <!-- Sensör verisi tablosu -->
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Data Type</th>
            <th>Data Value</th>
            <th>Timestamp</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through sensor data list -->
        <tr th:each="sensorData : ${sensorDataList}">
            <td th:text="${sensorData.sensorDataID}">1</td> <!-- Updated to sensorDataID -->
            <td th:text="${sensorData.dataType}">10.5</td>
            <td th:text="${sensorData.dataValue}">10.5</td>
            <td th:text="${sensorData.timestamp}">2023-09-13 10:00:00</td>

        </tr>
        </tbody>
    </table>

</div>

<!-- Bootstrap JS ve Popper.js -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
